body{
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    color: white;
}
i{
    display: inline-block;
    float: right;
    background-color: rgb(220, 183, 40);
    margin-top: 0.5em;
    cursor: pointer;
    color: white;
    width: 2em;
    height: 2em;

    text-align: center;
}
:after, :before{
    font-size: 1.8rem;
}
.fa{
    line-height: 2em;
}
